@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-gray-50: #fafafa;
    --color-gray-100: #f6f6f6;
    --color-gray-150: #f1f1f1;
    --color-gray-200: #ececec;
    --color-gray-300: #e3e3e3;
    --color-gray-400: #d9d9d9;
    --color-gray-500: #d0d0d0;
    --color-gray-600: #a6a6a6;
    --color-gray-700: #7d7d7d;
    --color-gray-800: #535353;
    --color-gray-850: #3e3e3e;
    --color-gray-900: #2a2a2a;
    --color-gray-950: #151515;
  }

  html {
    font-size: 18px;
  }

  body {
    font-family: "Montserrat", system-ui, sans-serif;
  }
}
